body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.sectionH {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background: url(FONDO.jpg) no-repeat;
    /* opacity: 50%; */
    background-position: center;
    background-size: cover;
}

.sectionW {
    background-color: #ece8e4;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 1rem;
}


#sesionPost {
    margin: 1rem 1rem;
    font-size: 0.8rem;
    border-radius: 1rem;
    background-color: rgba(0, 179, 255, 0.062);

}


/* se agrega un cuadro blanco de fondo para resaltar la parte del inico  */
.contenedor {
    position: relative;
    width: 450px;
    backdrop-filter: blur(30px);
    height: 300px;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.contenedorWall {

    margin: 10px;
    justify-content: center;
    align-items: center;
}

/* damos diseño a nuestro titulo  */

.contenedor h1 {
    font-size: 2.3rem;
    color: #f07d12;
    text-align: center;
    padding: 10px 0 44px 0;
}


.input-contenedor {

    position: relative;
    margin-bottom: 30px;
    border-bottom: 2px solid #fcf7f7;
}


.input-contenedor input:focus~label,
.input-contenedor input:valid~label {
    top: -15px;
    font-size: 0.85rem;
    /* Cambiar el tamaño del texto cuando se desplace hacia arriba */
    color: hsl(0, 0%, 100%);
    /* Cambiar el color del texto cuando se desplace hacia arriba */
}

.input-contenedor label {
    position: absolute;
    top: 15px;
    left: 0;
    font-size: 1rem;
    color: #fff;
    pointer-events: none;
    /* Evitar que el label interfiera con la interacción del input */
    transition: top 0.3s ease, font-size 0.3s ease, color 0.3s ease;
    /* Animación suave */
}

.input-contenedor input {
    width: 100%;
    height: 50%;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 1rem;
    padding: 30px 0 20px;
    color: #fff;
}

.input-contenedor i {
    position: absolute;
    color: #fff;
    font-size: 1.6rem;
    top: 32px;
    right: 5px;
}

.buttonGoogle {
    margin-left: 26%;
    height: 40px;
    border-radius: 8px;
    background: #fff;
    border: none;
    font-weight: bold;
    cursor: pointer;
    /* font-size: 1rem; */
    /* transition: .4s; */
    align-items: center;
}


button:hover {
    opacity: .9;
}

/* Estilo para el span que contiene la imagen y el texto */
/* button span {
    padding: 11px -14px -8px -2px;
    align-items: center;
} */

/* Estilo para la imagen */
.imgbuttoniniciar {
    padding: 2px 8px 0px 12px;
    max-width: 15px;
    /* Ajusta el tamaño de la imagen según tus preferencias */
    margin-right: 5px;
    /* Espacio entre la imagen y el texto */
    /* margin-left: 13px; */
}

.pagina2 {
    background-color: black;
    display: none;
}

p {
    text-align: center;
    /* padding: 8px 4px 40px 10px; */
    color: #fff;

}



#btnPost {

    height: 38px;
    background: #ee7474;
    border: none;
    margin: 2rem;
    padding: 0.6rem 1rem;
    font-size: 0.8rem;
    border-radius: 1rem;
    border-color: rgba(255, 0, 17, 0.2);
    transform: translate(63px, 10px);
}

#crearPost {
    background: none;
    color: #000000;
    border: none;
    padding: 0.36rem;
    border-bottom: 0.1rem solid #c27024;
    transform: translate(30px, 10px);
}

@media screen and (max-width: 640px) {

    .column {

        width: 50%;

    }
}




.card-db {
    border: solid #000000 1px;
    border-radius: 10px;
    margin: 5px;
    align-items: center;
    justify-content: center;
    text-align: center;
}


